<!DOCTYPE html>
<html>
<head>
  <title>JSDec - Liulihaocai</title>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/gh/liulihaocai/EasyCopy/copy.min.js"></script>
  <script src="https://cdn.bootcss.com/FileSaver.js/1.3.8/FileSaver.min.js"></script>
  <script src="./js/jsbeautify.js"></script>
  <script src="./js/dec.js"></script>
  <script src="./js/jsfuck.js"></script>
</head>
<body>
<div id="app">
  <v-app id="inspire">
      <v-navigation-drawer
        v-model="drawer"
        app
      >
      <v-list-item-group v-model="item" color="primary">
        <v-list  nav dense v-for="item in listitems">
          <template v-if="item.fg">
          <v-list-item v-on:click="item.onc">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </template>
          <template v-else>
            <v-subheader>{{ item.fgt }}</v-subheader>
            <v-divider></v-divider>
          </template>
      </v-list-item>
      </v-list>
      </v-list-item-group>
      </v-navigation-drawer>
      <v-app-bar
        app
        color="primary"
        dark
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>JSDec</v-toolbar-title>
      </v-app-bar>
      <v-main>
<template>
  <div style="height: 3%;"></div>
    <v-card
    class="mx-auto"
    max-width="95%"
    height="300px"
    outlined
  >
    <textarea placeholder="输入被混淆的JavaScript文件" id="needenc" style="width: 100%;cursor: pointer;height: 300px;border: solid 0px;outline:none;resize: none;"></textarea>
  </v-card>
  <v-container>
<v-select 
  v-model="nowenc"
  label="选择处理类型"
  :items="enc"
 >
  <template
    slot="item" 
    slot-scope="data"
   >
      <v-list-tile-content>
        <v-list-tile-title v-html="data.item"></v-list-tile-title>
      </v-list-tile-content>
    </template>
</v-select>
    <v-btn class="ma-2" color="primary" v-on:click="sdec">开始破解</v-btn><v-btn class="ma-2" color="primary" v-on:click="ujs">上传文件</v-btn><v-btn class="ma-2" color="primary" v-on:click="cres">复制结果</v-btn><v-btn class="ma-2" color="primary" v-on:click="dres">下载结果</v-btn><v-btn class="ma-2" color="primary" v-on:click="bres">美化结果</v-btn>
  </v-container>
  <v-card
    class="mx-auto"
    max-width="95%"
    height="300px"
    outlined
  >
<textarea placeholder="破解结果" id="encres" style="width: 100%;cursor: pointer;height: 300px;border: solid 0px;outline:none;resize: none;"></textarea>
  </v-card>
</template>
      </v-main>
      <v-footer
        color="primary"
        app
      >
    <span class="white--text">JSDec by liulihaocai</span>
    <v-spacer></v-spacer> 
        <span class="white--text">&copy; {{ fullyear }}</span>
      </v-footer>
    </v-app>
</div>
<div id="rcp"></div>
<input type="file" name="file" id="fileId" style="display: none;" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const vuetify = new Vuetify({
  theme: {
    themes: {
      light: {
        primary: "#009688",
      },
    },
  },
})
    var vue= new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data:{
        drawer: false,
        fullyear: new Date().getFullYear(),
        item:0,
        sdec:function(){
          if(vue.nowenc==null){}
          else if(vue.nowenc==vue.enc[0]){document.getElementById("encres").value=js_beautify(document.getElementById("needenc").value)}
          else if(vue.nowenc==vue.enc[1]){document.getElementById("encres").value=uneval(document.getElementById("needenc").value)}
          else if(vue.nowenc==vue.enc[2]){document.getElementById("encres").value=aadecode(document.getElementById("needenc").value)}
          else if(vue.nowenc==vue.enc[3]){document.getElementById("encres").value=jjdecode(document.getElementById("needenc").value)}
          else if(vue.nowenc==vue.enc[4]){document.getElementById("encres").value=decjsf(document.getElementById("needenc").value)}
        },
        cres:function(){
          rcp.copy(document.getElementById("encres").value)
        },
        ujs:function(){
          document.getElementById("fileId").click();
        },
        dres:function(){
          var blob = new Blob([document.getElementById("encres").value], {type: "text/plain;charset=utf-8"});saveAs(blob, "JSDec_"+rand_str(6)+".js")
        },
        bres:function(){
          document.getElementById("encres").value=js_beautify(document.getElementById("encres").value,1,'\t')
        },
        nowenc:null,
        enc:["美化","Eval(包含packer)","AAEncode","JJEncode","JSF*ck"],
        listitems:[
        {fg:false,fgt:"功能"},
        {fg:true,icon:"mdi-home",text:"JS解码",onc:function(){location.href="./index.html"}},
        {fg:false,fgt:"关于"},
        {fg:true,icon:"mdi-history",text:"更新日志",onc:function(){location.href="./upd.html"}},
        // {fg:true,icon:"mdi-heart-flash",text:"赞助作者",onc:function(){location.href="./donate.html"}},
        {fg:true,icon:"mdi-github",text:"Github",onc:function(){window.open("https://github.com/liulihaocai/JSDec")}},
        ]
      }
    })
    var rcp=EasyCopy.create("rcp")
document.getElementById("fileId").addEventListener('change',
function() {
    var objFile = document.getElementById("fileId");
    var files = document.getElementById('fileId').files;
    if (files.length != 0) {
        var reader = new FileReader();
        reader.readAsText(files[0], "UTF-8");
        reader.onload = function(evt) {
            document.getElementById("needenc").value=evt.target.result;
        }
    }

})
  </script>
</body>
</html>