<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="./css/font.css" rel="stylesheet">
  <script src="./js/functions.js"></script>
  <title id="updlog"></title>
</head>
<body>
<div id="app">
  <v-app id="inspire" class="saof">
      <v-navigation-drawer
        v-model="drawer"
        app
      >
      <v-list-item-group v-model="item" color="primary">
        <v-list  nav dense v-for="item in listitems">
          <template v-if="item.fg">
          <v-list-item v-on:click="item.onc">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </template>
          <template v-else>
            <v-subheader>{{ item.fgt }}</v-subheader>
            <v-divider></v-divider>
          </template>
      </v-list-item>
      </v-list>
      </v-list-item-group>
      </v-navigation-drawer>
      <v-app-bar
        app
        color="primary"
        dark
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>JSDec</v-toolbar-title><v-spacer></v-spacer>
            <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="#FFFFFF" dark v-bind="attrs" v-on="on" text><v-icon left>mdi-translate</v-icon>{{ lang.nowlang }}</v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in Langs"
          :key="index"
          @click="item.onc"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
      </v-app-bar>
      <v-main>
<div v-for="item in upl">
<v-subheader>{{ item.ver }} - {{ item.date }}</v-subheader><font v-html="item.tell"></font>
</div>
      </v-main>
      <v-footer
        color="primary"
        app
      >
    <span class="white--text">JSDec by liulihaocai</span>
    <v-spacer></v-spacer> 
        <span class="white--text">&copy; {{ fullyear }}</span>
      </v-footer>
    </v-app>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
document.getElementById("updlog").innerHTML=thislang.updlog+"(JSDec) - Liulihaocai"
    var vue= new Vue({
      el: '#app',
      vuetify: new Vuetify({theme:{themes:{light:{primary:"#F8A912",},},},}),
      data:{
        lang:thislang,
        drawer: false,
        fullyear: new Date().getFullYear(),
        item:2,
        upl:updlist,
        listitems:[
        {fg:false,fgt:thislang.tools},
        {fg:true,icon:"mdi-home",text:thislang.jsdecode,onc:function(){location.href="./index.html"}},
        {fg:true,icon:"mdi-book",text:thislang.help,onc:function(){window.open("./help")}},
        {fg:false,fgt:thislang.about},
        {fg:true,icon:"mdi-history",text:thislang.updlog,onc:function(){location.href="./upd.html"}},
        // {fg:true,icon:"mdi-heart-flash",text:"赞助作者",onc:function(){location.href="./donate.html"}},
        {fg:true,icon:"mdi-github",text:thislang.gh,onc:function(){window.open("https://github.com/liulihaocai/JSDec")}},
        ],
        Langs:Wlangs
      }
    })
  </script>
</body>
</html>